version: "3.9"
services:
  soap-service:
    image: if3110-2023-02-36-soap-service:latest
    ports:
      - 6001:6001
    env_file: .env
    build: 
      dockerfile: Dockerfile
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    ports:
      - 6307:3306
    env_file: .env
    volumes:
      - ./mysql:/var/lib/mysql
      - ./migration/migration.sql:/docker-entrypoint-initdb.d/migration.sql

  phpmyadmin:
    image: phpmyadmin:latest
    environment:
      - PMA_HOST=mysql
    ports:
      - 6061:80
    depends_on:
      - mysql
